<div class="blog-container">
  <h3 class="post-title">
    {{post.title}}<br>
    <small>by {{post.author}}</small>
  </h3>

  <div class="post-text">
    {{post.text}}
  </div>

  <img src={{post.img}}>

</div>
