<div class="container-fluid">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">Insert Blog Name Here</div>
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {{outlet}}
  </div>
</div>
