{{post-tile post=model.post}}
{{comment-tile comments=model.post.comments post=model.post saveComment="saveComment" updateComment="updateComment" deleteComment="deleteComment"}}

{{#link-to 'index'}}<button class="btn btn-default pull-right">Back</button>{{/link-to}}
